// General
$separacion: 5rem;

// Fuentes


// Colores 
$negro: #242A42;
$blanco: #FFF;
$violeta: #5266DF;
$gris: #9B9CA1;
$naranja: #ff5657;
$azul: #242946;
// Fuentes
$delgada: 300;
$media : 400;
$negrita: 700;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;